.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.label {
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  color: $black-100;
  margin: 0;
}

.tabs {
  display: flex;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
}

.tab {
  flex: 1 1 160px;
  padding: 10px 12px;
  border-radius: 12px;
  border: 2px solid transparent;
  background-color: $white-100;
  color: $gray-light;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
  text-align: center;

  &:hover {
    background-color: $white-300;
  }
}

.active {
  background-color: $blue-500;
  color: $white-50;
  box-shadow: none;
  transform: translateY(-1px);
  &:hover {
    background-color: $blue-400;
  }
}

@media (max-width: 768px) {
  .tabs {
    gap: 8px;
  }

  .tab {
    flex: 1 1 calc(50% - 8px);
    padding: 10px 16px;
  }
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    gap: 8px;
  }

  .tab {
    flex: 1 1 auto;
    width: 100%;
    padding: 10px 12px;
  }
}

@media (max-width: 480px) {
  .tab {
    flex: 1 1 100%;
    padding: 10px 12px;
  }
}
