.title {
  margin: 0 0 16px;
  color: $blue-900;
  text-align: center;
}

.message {
  margin: 0 0 16px;
  color: $white-900;
  text-align: center;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-self: end;
}

.cancelBtn {
  border: none;
}


