.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.desktopView {
  @media (max-width: 768px) {
    display: none;
  }
}

.containerCards {
  background: $white-50;
  border-radius: 12px;

  @media (max-width: 768px) {
    display: none;
  }
}

.title {
  font-family: $font-roboto;
  padding-top: 20px;
  font-size: 22px;
  padding-inline: 40px;

  @media (max-width: 768px) {
    padding-inline: 20px;
  }
}

// Estilos para móvil (si es necesario)
.mobileView {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
