.buttonContainer {
  display: flex;
  gap: 12px;
  align-items: center;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 8px;
    
    button {
      width: 100% !important;
    }
  }
}
